table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.textfield-div {
    float: left;
    padding: 0px 0px 30px 0px;
}

.table-container {
    /* padding: 0px 4rem 5rem 4rem;
    background-color: #808080; */
}

.data-paper {
    padding: 50px 25px;
}

.pagination {
    display: inline-block;
    padding: 30px 0px 0px 0px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}