.detail-view-paper {
    padding: 50px 25px;
}

.left-div {
    font-size: 20px;
    text-align: left;
    padding: 12px 25px !important;
}

.right-div {
    font-size: 20px;
    text-align: right;
    padding: 12px 35px !important;
}